<div class="main-header-container">
	<!-- logo -->
	<svg
		id="errr"
		xmlns="http://www.w3.org/2000/svg"
		xmlns:xlink="http://www.w3.org/1999/xlink"
		width="1161px"
		height="860px"
		viewBox="187 54 601 445"
		preserveAspectRatio="xMidYMid meet"
	>
		<rect
			id="svgEditorBackground"
			x="0"
			y="0"
			width="1780"
			height="860"
			style="fill:none; stroke: none;"
		/>
		<polyline
			style="fill:none;stroke-width:20px;"
			id="e2_polyline"
			points="204 495 318 103 435 499"
		/>
		<polyline style="fill:none;stroke-width:20px;" id="e3_polyline" points="289 232" />
		<polyline style="fill:none;stroke-width:1px;" id="e4_polyline" points="274 258" />
		<polyline
			style="fill:none;stroke-width:20px;"
			id="e5_polyline"
			points="282 223 282 225 366 499 358 471"
		/>
		<polyline
			style="fill:none;stroke-width:20px;"
			id="e6_polyline"
			points="535 492 531 66 612 66 615 496"
		/>
		<path
			d="M615,63a93.217555,93.217555,0,1,1,-2,186"
			style="fill:none;stroke-width:20px;"
			id="e7_circleArc"
			transform="matrix(1.47447 0 0 1.01598 -285.018 2.8572)"
		/>
	</svg>
	<!-- end logo -->
	<!-- Enter component html here -->
	<header class="main-header js-main-header margin-bottom--lg">
		<div class="container container--lg">
			<div class="main-header__layout">
				<div class="main-header__logo">
					<a href="#0">
						<svg width="130" height="32" viewBox="0 0 130 32">
							<title>Go to homepage</title>
							<circle fill="var(--color-primary)" cx="16" cy="16" r="16" />
							<rect
								fill="var(--color-contrast-higher)"
								x="41"
								y="11"
								width="89"
								height="10"
							/>
						</svg>
					</a>
				</div>

				<button
					class="btn btn--subtle main-header__nav-trigger js-main-header__nav-trigger"
					aria-label="Toggle menu"
					aria-expanded="false"
					aria-controls="main-header-nav"
				>
					<i class="main-header__nav-trigger-icon" aria-hidden="true"></i>
					<span>Menu</span>
				</button>

				<nav
					class="main-header__nav js-main-header__nav"
					id="main-header-nav"
					aria-labelledby="main-header-nav-label"
					role="navigation"
				>
					<div id="main-header-nav-label" class="main-header__nav-label">Main menu</div>
					<ul class="main-header__nav-list">
						<li class="main-header__nav-item">
							<a
								data-scrollTo="test1234"
								href="#0"
								class="main-header__nav-link"
								aria-current="page"
								onclick="scrollToElement(this)"
								>About</a
							>
						</li>
						<li class="main-header__nav-item">
							<a
								data-scrollTo="test12345"
								href="#0"
								class="main-header__nav-link"
								onclick="scrollToElement(this)"
								>Projects</a
							>
						</li>
						<li class="main-header__nav-item">
							<a
								data-scrollTo="test123456"
								href="#0"
								class="main-header__nav-link"
								onclick="scrollToElement(this)"
								>Contact</a
							>
						</li>
						<li
							class="main-header__nav-item main-header__nav-divider"
							aria-hidden="true"
						></li>
						<li class="main-header__nav-item">
							<a href="#0" class="btn btn--primary">Download</a>
						</li>
						<li class="main-header__nav-item">
							<!-- Switch Toggle -->
							<div class="switch">
								<input id="lightSwitch" type="checkbox" name="toggle" />
								<label for="toggle">
									<i class="bulb">
										<span class="bulb-center"></span>
										<span class="filament-1"></span>
										<span class="filament-2"></span>
										<span class="reflections">
											<span></span>
										</span>
										<span class="sparks">
											<i class="spark1"></i>
											<i class="spark2"></i>
											<i class="spark3"></i>
											<i class="spark4"></i>
										</span>
									</i>
								</label>
							</div>
							<!-- End Switch Toggle -->
						</li>
					</ul>
				</nav>
			</div>
			<!-- main-header__layout -->
		</div>
	</header>
</div>
