<div class="projects-container d-flex h-100" onmouseout="removeHoverEvent()">
	<div id="shape-1" class="parallelogram" onmouseover="hoverEvent(this)">
		<div class="test234">
			<!-- On load size -->
			<!-- End On load size -->

			<!-- Large Size -->
			<!-- End Large Size -->

			<!-- Small Size -->
			<div class="smaller-size_text">
				Bose
			</div>
			<!-- End Small Size -->
		</div>
	</div>
	<div id="shape-2" class="parallelogram" onmouseover="hoverEvent(this)">
		<div class="test234">
			<!-- On load size -->
			<!-- End On load size -->

			<!-- Large Size -->
			<!-- End Large Size -->

			<!-- Small Size -->
			<div class="smaller-size_text">
				DY
			</div>
			<!-- End Small Size -->
		</div>
	</div>
	<div id="shape-3" class="parallelogram" onmouseover="hoverEvent(this)">
		<div class="test234">
			<!-- On load size -->
			<!-- End On load size -->

			<!-- Large Size -->
			<!-- End Large Size -->

			<!-- Small Size -->
			<div class="smaller-size_text">
				Salesforce
			</div>
			<!-- End Small Size -->
		</div>
	</div>
</div>
