<div class="sticky-nav-container">
	<nav id="sticky-nav_nav">
		<ul>
			<li><a class="one" data-scrollTo="one" onclick="scrollToElement(this)">First</a></li>
			<li><a class="two" data-scrollTo="two" onclick="scrollToElement(this)">Second</a></li>
			<li>
				<a class="three" data-scrollTo="three" onclick="scrollToElement(this)">Third</a>
			</li>
			<li><a class="four" data-scrollTo="four" onclick="scrollToElement(this)">Fourth</a></li>
			<li><a class="five" data-scrollTo="five" onclick="scrollToElement(this)">Fifth</a></li>
		</ul>
	</nav>
</div>
