<div class="welcome-comp-container">
	<!-- Enter component html here -->
	<div class="image-overlay w-100 h-100">
		<div class="container-fluid">
			<div class="align-absolute_center flex-column">
				<h1 class="header-title animate-pop-in">Your awesome landing page</h1>
				<h3 class="header-subtitle animate-pop-in">A useful start for your projects</h3>
				<p class="d-block">
					<section class="header-down-arrow">
					<svg
						viewBox="0 0 32 32"
						class="icon icon-chevron-bottom"
						viewBox="0 0 32 32"
						aria-hidden="true"
					>
						<path
							d="M16.003 18.626l7.081-7.081L25 13.46l-8.997 8.998-9.003-9 1.917-1.916z"
						/>
					</svg>
					</section>
				</p>
			</div>
		</div>
	</div>
</div>
