#logo-comp {
  svg {
    height: 50px;
    position: absolute;
    top: 15px;
    z-index: 1000;
    left: -26vw;
    @include breakpoint(sm-only) {
      left: 35vw;
    }
    polyline,
    path {
      stroke: var(--color-primary);
    }
  }
}
