#welcome-comp {
  .welcome-comp-container {
    height: 60vh;
    background-image: url(../../images/welcomeImage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -50px;
    .image-overlay {
      background-color: alpha(var(--color-contrast-medium), 0.5);
      .align-absolute_center {
        height: 60vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: auto;
      }
    }
  }
}
