<div class="logo-comp-container">
	<svg
		xmlns="http://www.w3.org/2000/svg"
		xmlns:xlink="http://www.w3.org/1999/xlink"
		width="1161px"
		height="860px"
		viewBox="187 54 601 445"
		preserveAspectRatio="xMidYMid meet"
	>
		<rect
			id="svgEditorBackground"
			x="0"
			y="0"
			width="1780"
			height="860"
			style="fill:none; stroke: none;"
		/>
		<polyline
			style="fill:none;stroke-width:20px;"
			id="e2_polyline"
			points="204 495 318 103 435 499"
		/>
		<polyline style="fill:none;stroke-width:20px;" id="e3_polyline" points="289 232" />
		<polyline style="fill:none;stroke-width:1px;" id="e4_polyline" points="274 258" />
		<polyline
			style="fill:none;stroke-width:20px;"
			id="e5_polyline"
			points="282 223 282 225 366 499 358 471"
		/>
		<polyline
			style="fill:none;stroke-width:20px;"
			id="e6_polyline"
			points="535 492 531 66 612 66 615 496"
		/>
		<path
			d="M615,63a93.217555,93.217555,0,1,1,-2,186"
			style="fill:none;stroke-width:20px;"
			id="e7_circleArc"
			transform="matrix(1.47447 0 0 1.01598 -285.018 2.8572)"
		/>
	</svg>
</div>
