<div class="main-header-container">
	<!-- Enter component html here -->
	<header class="main-header js-main-header margin-bottom--lg">
		<div class="container container--lg">
			<div class="main-header__layout">
				<div class="main-header__logo">
					<a href="#0">
						<svg width="130" height="32" viewBox="0 0 130 32">
							<title>Go to homepage</title>
							<circle fill="var(--color-primary)" cx="16" cy="16" r="16" />
							<rect
								fill="var(--color-contrast-higher)"
								x="41"
								y="11"
								width="89"
								height="10"
							/>
						</svg>
					</a>
				</div>

				<button
					class="btn btn--subtle main-header__nav-trigger js-main-header__nav-trigger"
					aria-label="Toggle menu"
					aria-expanded="false"
					aria-controls="main-header-nav"
				>
					<i class="main-header__nav-trigger-icon" aria-hidden="true"></i>
					<span>Menu</span>
				</button>

				<nav
					class="main-header__nav js-main-header__nav"
					id="main-header-nav"
					aria-labelledby="main-header-nav-label"
					role="navigation"
				>
					<div id="main-header-nav-label" class="main-header__nav-label">Main menu</div>
					<ul class="main-header__nav-list">
						<li class="main-header__nav-item">
							<a href="#0" class="main-header__nav-link" aria-current="page">About</a>
						</li>
						<li class="main-header__nav-item">
							<a href="#0" class="main-header__nav-link">Projects</a>
						</li>
						<li class="main-header__nav-item">
							<a href="#0" class="main-header__nav-link">Contact</a>
						</li>
						<li
							class="main-header__nav-item main-header__nav-divider"
							aria-hidden="true"
						></li>
						<li class="main-header__nav-item">
							<a href="#0" class="btn btn--primary">Download</a>
						</li>
						<li class="main-header__nav-item">
							<div class="switch">
								<input class="switch__input" type="checkbox" id="themeSwitch" />
								<label aria-hidden="true" class="switch__label" for="themeSwitch"
									>On</label
								>
								<div aria-hidden="true" class="switch__marker"></div>
							</div>
						</li>
					</ul>
				</nav>
			</div>
			<!-- main-header__layout -->
		</div>
	</header>
</div>
